// app global css in SCSS form

.text-h2-alt {
  font-size: 50px;
  font-weight: 500;
  // font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display";
  font-style: italic;
}
.text-h2-bold {
  font-size: 54px;
  font-weight: 600;
  // font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display";
  font-style: italic;
}

.text-h3-title {
  font-family: "Playfair Display";
  font-style: italic;
  // font-family: "Kaushan Script", cursive;
  font-size: 36px;
  font-weight: 500;
}
.text-h3-content {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
}

.text-h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  // font-weight: bold;
  margin: 0;
}
.text-h4-bold {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  // font-weight: bold;
  margin: 0;
}
.text-h4-italic {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.header-text-link {
  color: #5d5047ff;
  font-weight: 500;
  font-size: 18px;
  font-family: "Open Sans";
}

.text-h4-alt {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.img {
  max-width: 100%;
}

.event-card {
  max-width: 350px;
  border-radius: 22px;
}

.event-label {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.spacer {
  height: 10.5rem;
  width: 100%;
  @media screen and (max-width: 768px) {
    height: 8.5rem;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    height: 5.5rem;
    width: 100%;
  }

  @media screen and (max-width: 430px) {
    height: 0.5rem;
    width: 100%;
  }
}
.drawer-body-background-img {
  background: url(/images/flower.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  font-family: "Playfair Display";
  color: $primary;
  font-size: 30px;
  align-items: center;
  font-weight: 800;

  background-repeat: no-repeat;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
}
.drawer-body-background-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* 70% white overlay */
  z-index: 1;
  pointer-events: none;
}
.drawer-body-background-img > * {
  position: relative;
  z-index: 2;
}
.bg-img {
  background: url(/images/breathe.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.bg-img .text_holder {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 22px; /* here white cause body as white background */
}

.bg-img-2 {
  position: relative; /* Ensure stacking context for overlay */
  background: url(/images/path.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-img-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.545); /* 50% black overlay */
  z-index: 1;
  pointer-events: none;
}
.bg-img-2 > * {
  position: relative;
  z-index: 2;
}

.bg-img-5 {
  position: relative; /* Ensure stacking context for overlay */
  background: url(/images/trees.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-img-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 50% black overlay */
  z-index: 1;
  pointer-events: none;
}
.bg-img-5 > * {
  position: relative;
  z-index: 2;
}

.bg-img-3 {
  background: url(/images/stack.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-img-4 {
  position: relative;
  background: url(/images/riverrock2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-img-4::before {
  content: "";
  position: absolute;
  inset: 0;
  // background: linear-gradient(
  //   180deg,
  //   rgba(214, 198, 187, 0.543) 30%,
  //   rgba(221, 190, 169, 1) 100%
  // );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 30%,
    rgba(221, 190, 169, 1) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.bg-img-4 > * {
  position: relative;
  z-index: 2;
}

.responsive-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive-avatar {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .responsive-img {
    max-width: 220px;
  }
  .bg-img {
    background-attachment: scroll;
  }
  .bg-img-4 {
    background-attachment: scroll;
  }
  .bg-img-2 {
    background-attachment: scroll;
  }
  .bg-img-5 {
    background-attachment: scroll;
  }

  .responsive-avatar {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 430px) {
  .bg-img {
    background-attachment: scroll;
  }
  .bg-img-4 {
    background-attachment: scroll;
  }
  .bg-img-2 {
    background-attachment: scroll;
  }
  .bg-img-5 {
    background-attachment: scroll;
  }
}

@media (max-width: 991px) {
  .text-h3-title {
    font-size: 28px;
  }
  main > div {
    flex-direction: column;
  }

  main > div article {
    flex-grow: 1;
  }

  main > div aside nav ul {
    flex-direction: row;
  }

  main > div aside nav ul li {
    flex-grow: 1;
    text-align: center;
  }
  .text-h4 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  header,
  main,
  main > div,
  main > div aside nav ul {
    flex-direction: column;
  }

  .text-h2-alt {
    font-size: 40px;
  }
  .text-h3-title {
    font-size: 24px;
  }

  .text-h3-content {
    font-size: 26px;
  }

  .text-h4 {
    font-size: 16px;
  }

  p {
    text-align: justify;
  }
}
@media (max-width: 400px) {
  header,
  main,
  main > div,
  main > div aside nav ul {
    flex-direction: column;
  }

  .text-h2-alt {
    font-size: 36px;
  }
  .text-h3-title {
    font-size: 20px;
  }
  .text-h3-content {
    font-size: 26px;
  }
  .text-h4 {
    font-size: 14px;
  }
  .text-h4-bold {
    font-size: 16px;
    font-weight: bold;
  }
  .text-h4-alt {
    font-size: 26px;
  }

  .event-label {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
  .responsive-img {
    max-width: 100%;
  }

  .responsive-avatar {
    width: 100px;
    height: 100px;
  }
}
