// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

// $secondary: #2b2f10ff;
// $primary: #66745cff;
// $baby-powder: #fefefcff;
// $cambridge-blue: #9bac97ff;
// $accent: #a3b946ff;
//
$accent: #cb997eff;
$secondary: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$linen: #faefe1ff;
$floral-white: #fffbf2ff;
$seashell: #f8efe8ff;
$ash-green: #b7b7a4ff;
$sage: #b7b7a4ff;
$primary: #6b705cff;
$ebony: #5e6251ff;
$walnut-brown: #5d5047ff;

// $primary: #13395c;
// $secondary: #5c9fd6;
// $accent: #ef6c00;

// $dark: #1d1d1d;
// $dark-page: #121212;

$positive: #ffffff;
$negative: #ed8585;
// $info: #5cd6c0;
// $warning: #f7c68d;
